body {
  background: #121b2d;
  text-align: center;
}

#rulesRow {
  margin: 0 auto;
}
.rules {
  padding: 2%;
  margin-top: 10%;
  color: white;
  /* line-height: 1.5rem; */
  background-color: #202b43;
  border-radius: 25px;
}

p {
  line-height: 1.5rem;
}

.pokeball {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
}

.pokeball:hover,
.pokeball.hover {
  cursor: pointer;
  -webkit-animation: anti-wiggle 1s ease-in-out;
  animation: anti-wiggle 1s ease-in-out;
}
.pokeball:hover:after,
.pokeball.hover:after {
  -webkit-animation: wiggle 1s ease-in-out;
  animation: wiggle 1s ease-in-out;
}
.pokeball:focus,
.pokeball:active {
  outline: 0;
}

@keyframes wiggle {
  20% {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
  }
  60% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  80% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes anti-wiggle {
  20% {
    -webkit-transform: translateX(-4px) rotate(-14deg);
    transform: translateX(-4px) rotate(-14deg);
  }
  40% {
    -webkit-transform: translateX(8px) rotate(28deg);
    transform: translateX(8px) rotate(28deg);
  }
  60% {
    -webkit-transform: translateX(-4px) rotate(-8deg);
    transform: translateX(-4px) rotate(-8deg);
  }
  80% {
    -webkit-transform: translateX(2px) rotate(4deg);
    transform: translateX(2px) rotate(4deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
  }
}

span {
  color: #666;
  font-size: 12px;
  display: block;
  position: absolute;
  bottom: 10px;
  width: 90%;
  left: 50%;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
span a {
  color: white;
  text-decoration: none;
}
span .fa {
  color: #e90606;
  margin: 0 3px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
}
@-webkit-keyframes pound {
  to {
      transform: scale(1.1);
 }
}
@keyframes pound {
  to {
      transform: scale(1.1);
 }
}
